li.nav-item a.active span {
    border-bottom: 2px solid #ddd;
    padding: 5px;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2.5rem;
        padding-left: 0.5rem;
        padding-top: 26px;
    }
    
}

.bg-bottom-center:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: url(../assets/images/circles.png) bottom center no-repeat;
    z-index: 3;
    background-position: top;
}

.copyright a {
    margin-left: 10px;
}

.copyright a img {
    border-color: white;
}


ul.socailmedia {
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
    display: flex;
    justify-content: end;
}
ul.socailmedia li {
    float: left;
    margin: 0px 5px;
}

@media (max-width: 768px) {
    .sociocons{
        word-break: break-all;
    }
    ul.socailmedia {
        justify-content: center !important;
        margin-bottom: 20px;
    }
}