<div class="spinner" *ngIf="spinstatus">
    <img src="../assets/images/spin.gif" alt="spin" />
</div>
<section class="block-explorer-features section bg-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title text-center">Transactions</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6 mt-3 mb-5">
                <div class="center-text text-center">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-latests">
                        <thead>
                            <tr>
                                <th scope="col" style="padding-right:100px">Transaction Details</th>
                                <!-- <th scope="col" style="padding-right:100px">From</th>
                                    <th scope="col" style="padding-right:100px">To</th> -->
                                <th scope="col">Volume</th>
                                <th scope="col">Dur(sec)</th>
                                <th scope="col">Fee</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of transactions">
                                <td class="tokenhover">
                                    <span (click)="detailTransFunction(item.transaction_id)" class="text-short"><b>Id:</b>{{ item.transaction_id }}</span><b (click)="copyDID(item.transaction_id)" class="copyicon"><i class="fa fa-clone" aria-hidden="true"></i> copy</b>
                                    <span (click)="userInfoFunction(item.sender_did)" class="text-short"><b>From:</b>{{ item.sender_did }}</span> 
                                    <span (click)="userInfoFunction(item.receiver_did)" class="text-short"><b>To:</b>{{ item.receiver_did }} </span>

                                </td>
                                <!-- <td class="tokenhover" (click)="userInfoFunction(item.sender_did)"><span class="text-short"> {{
                item.sender_did }} </span></td>
                                <td class="tokenhover" (click)="userInfoFunction(item.receiver_did)"><span class="text-short">
                {{ item.receiver_did }} </span></td> -->
                                <td><span class="text-short"> {{ item.amount }} </span></td>
                                <td><span class="text-short"> {{ item.token_time }} </span></td>

                                <td><span class="text-short"> {{ item.transaction_fee }} </span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
