.table-latests {
    background: #fff;
    border: 1px solid #CEE1F8;
}
.table-latests thead {
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    background-color: #262366;
}

.table-latests td {
    padding: 15px 15px;
    border-top: 1px solid #CEE1F8;
}

.table-latests tbody {
    font-weight: 400;
    font-size: 14px;
    color: #3B566E;
}

.table-striped tbody tr:nth-of-type(odd) {
    background: #F3F8FF;
}

.table-latests tbody a {
    color: #256592;
}

a {
    text-decoration: none !important;
}

.tab-slider--nav {
    width: 100%;
    float: left;
    margin-bottom: 20px;
  }
  
  .tab-slider--tabs {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    border-radius: 35px;
    overflow: hidden;
    background: #fff;
    height: 35px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .tab-slider--tabs:after {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    border-radius: 35px;
  }
  .tab-slider--tabs.slide:after {
    left: 50%;
  }
  
  .tab-slider--trigger {
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    color: #345F90;
    text-transform: uppercase;
    text-align: center;
    padding: 11px 20px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: color 250ms ease-in-out;
    transition: color 250ms ease-in-out;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .tab-slider--trigger.active {
    color: #fff;
    background: #345F90;
  }
  
  .tab-slider--body {
    margin-bottom: 20px;
  }