<div class="spinner" *ngIf="spinstatus">
    <img src="../assets/images/spin.gif" alt="spin" />
</div>

<section class="block-explorer-features section bg-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title text-center">General Information
                    </h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6 mt-3 mb-5">
                <div class="center-text text-center">
                    <!-- <p>Fusce placerat pretium mauris, vel sollicitudin elit lacinia vitae. Quisque sit amet nisi
                        erat.</p> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card border-info mb-3">
                    <div class="card-header text-center">
                        <div class="row">
                            <div class="col-md-12"><span></span>RBT Price</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <h5 class="card-text text-center">${{rubixPrice}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card border-info mb-3">
                    <div class="card-header text-center">
                        <div class="row">
                            <div class="col-md-12"><span></span>Circulating Supply</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <h5 class="card-text text-center" [countUp]="curculatingSupplyCount">0</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card border-info mb-3">
                    <div class="card-header text-center">
                        <div class="row">
                            <div class="col-md-12"><span></span> Total Supply</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <h5 class="card-text text-center">51.4 M</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-4">
                <div class="card border-info mb-3">
                    <div class="card-header text-center">
                        <div class="row">
                            <div class="col-md-12"><span></span> Transactions</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <h5 class="card-text text-center" [countUp]="transactionsCount">0</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card border-info mb-3">
                    <div class="card-header text-center">
                        <div class="row">
                            <div class="col-md-12"> <span></span>Tokens mined</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <h5 class="card-text text-center" [countUp]="tokensCount">0</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card border-info mb-3">
                    <div class="card-header text-center">
                        <div class="row">
                            <div class="col-md-12"> <span></span> Live Nodes</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <h5 class="card-text text-center" [countUp]="rubixUsersCount">0</h5>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-8 offset-sm-2">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="center-heading">
                                <h5 class=" text-center">Live API
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="card border-info mg-t-25">
                        <div class="customapi">
                            <p class="card-text text-center apiCard">{{apiLink}}</p>
                            <!-- <b (click)="copyDID(apiLink)" class="copyicon" style="font-size: large;top: 0;left: 27px;"><i class="fa fa-clone" aria-hidden="true"></i> copy</b> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .card:hover {
        box-shadow: 0 0 10px 0 rgb(63 66 87 / 30%);
    }
    
    .apiCard {
        margin-bottom: 10px;
    }
</style>