select.customdropdown {
    border-radius: 15px;
    border: 1px solid #ced4da;
    padding: 15px;
}
.fullwidth{
    width: 100%;
}

.btn-primary, .wizard>.actions a {
    color: #fff;
    background-color: #00788c!important;
    border-color: #00788c!important;
}

@media (max-width: 576px){
    select.customdropdown {
        padding: 0px;
    }
    .input-group button.btn.btn-primary{
        padding: 5px;
    }
    
}