<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-md-12 mb-4 mb-xl-0">
                    <form>
                        <div class="form-group row">

                            <div class="col-sm-12">
                                <form [formGroup]="searchform" (ngSubmit)="onSubmit()">
                                    <div class="input-group">
                                        <input type="text" formControlName="inputId" class="form-control" id="colFormLabelSm" placeholder="Search for transaction hash or token hash" required>

                                        <button type="submit" class="btn btn-primary">Search</button>
                                    </div>
                                    <div *ngIf="f.inputId.touched && f.inputId.invalid" class="searchError">
                                        <div *ngIf="f.inputId.errors && f.inputId.errors.required">Please fill out this field.</div>
                                    </div>
                                    <span class="searchError" *ngIf="showError">Invalid token/transaction hash</span>
                                </form>
                            </div>

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin transparent">
            <div class="row">
                <div class="col-md-4 mb-4 stretch-card transparent">
                    <div class="card card-tale">
                        <div class="card-body">
                            <p class="mb-4">RBT Price
                            </p>
                            <p class="fs-30 mb-2">-</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 stretch-card transparent">
                    <div class="card card-dark-blue">
                        <div class="card-body">
                            <p class="mb-4">Circulating Supply</p>
                            <p class="fs-30 mb-2" [countUp]="curculatingSupplyCount">0</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 stretch-card transparent">
                    <div class="card card-tale">
                        <div class="card-body">
                            <p class="mb-4">Total Supply</p>
                            <p class="fs-30 mb-2">51.4 M</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 stretch-card transparent">
                    <div class="card card-dark-blue">
                        <div class="card-body">
                            <p class="mb-4">Transactions</p>
                            <p class="fs-30 mb-2" [countUp]="transactionsCount">0</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 stretch-card transparent">
                    <div class="card card-tale">
                        <div class="card-body">
                            <p class="mb-4">Tokens mined</p>
                            <p class="fs-30 mb-2" [countUp]="tokensCount">0</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 stretch-card transparent">
                    <div class="card card-dark-blue">
                        <div class="card-body">
                            <p class="mb-4">Live Nodes</p>
                            <p class="fs-30 mb-2" [countUp]="rubixUsersCount">0</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>



    <div class="row">

        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <h2 class="card-header">{{labelstring}}
                    <div class="togglebtns">

                        <button class="btn btn-custom" [ngClass]="status ? 'active' : ''" (click)="onClickTransactions($event)">Transactions</button>
                        <button class="btn btn-custom" [ngClass]="status ? '' : 'active'" (click)="onClickTokens($event)">Tokens</button>
                    </div>
                </h2>
                <div class="card-body" *ngIf="!status">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" style="padding-right:100px">Token Id</th>
                                    <th scope="col" style="padding-right:100px">Owner</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of tokens">
                                    <td><span class="text-short"> {{ item.token_id }} </span></td>

                                    <td><span class="text-short"> {{ item.user_did }} </span></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>


                <div class="card-body" *ngIf="status">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" style="padding-right:100px">Transaction Details</th>
                                    <!-- <th scope="col" style="padding-right:100px">From</th>
                                    <th scope="col" style="padding-right:100px">To</th> -->
                                    <th scope="col">Volume</th>
                                    <th scope="col">Dur(sec)</th>
                                    <th scope="col">Fee</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of transactions">
                                    <td class="tokenhover">
                                        <span (click)="detailTransFunction(item.transaction_id)" class="text-short"><b>Transaction Id:</b>{{ item.transaction_id }}</span>
                                        <span (click)="userInfoFunction(item.sender_did)" class="text-short"><b>From:</b>{{ item.sender_did }}</span>
                                        <span (click)="userInfoFunction(item.receiver_did)" class="text-short"><b>To:</b>{{ item.receiver_did }} </span>

                                    </td>
                                    <!-- <td class="tokenhover" (click)="userInfoFunction(item.sender_did)"><span class="text-short"> {{
                    item.sender_did }} </span></td>
                                    <td class="tokenhover" (click)="userInfoFunction(item.receiver_did)"><span class="text-short">
                    {{ item.receiver_did }} </span></td> -->
                                    <td><span class="text-short"> {{ item.amount }} </span></td>
                                    <td><span class="text-short"> {{ item.token_time }} </span></td>

                                    <td><span class="text-short"> {{ item.transaction_fee }} </span></td>
                                    <!-- <td><span class="text-short"> {{ item.time }} </span></td>  -->
                                </tr>
                            </tbody>
                        </table>


                    </div>

                </div>

            </div>
        </div>
    </div>





</div>
<style>
    p {
        text-align: center;
    }
    
    td {
        text-align: left;
    }
</style>