.table-latests {
    background: #fff;
    border: 1px solid #CEE1F8;
}

.table-latests thead {
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    background-color: #262366;
}

.table-latests td {
    padding: 15px 15px;
    border-top: 1px solid #CEE1F8;
}

.table-latests tbody {
    font-weight: 400;
    font-size: 14px;
    color: #3B566E;
}

.table-striped tbody tr:nth-of-type(odd) {
    background: #F3F8FF;
}

.table-latests tbody .table-progress {
    width: 200px;
    height: 15px;
    position: relative;
    background: #D7DEE4;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-top: 5px;
}

.table-latests tbody {
    font-weight: 400;
    font-size: 14px;
    color: #3B566E;
}

.table-latests tbody .table-progress .progress-line {
    position: absolute;
    width: 0%;
    height: 15px;
    background: #3266C6;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.table-latests tbody .table-progress span {
    position: absolute;
    font-weight: 700;
    font-size: 10px;
    color: #fff;
    left: 10px;
    top: -1px;
}

.page-item.active .page-link {
    color: #fff !important;
    background-color: #262366 !important;
    border-color: #262366 !important;
}

.page-link {
    color: #262366 !important;
}

.pagination a.disabled {
    pointer-events: none;
    color: #6c757d;
    /* Disabled button color */
}
.searchInputClass{
    width: 50%;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid #000;
}
.searchButtonClass{
    border-radius: 0px 4px 4px 0px;
    border: 1px solid #000;
}
.link-button {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    font-size: inherit;
    padding: 0;
  }
  
  .link-button:focus {
    outline: none;
  }
  .excel_Export {
    float: right;
    background-color: #262366;
    color: white;
    border-color: #262366;
    margin-bottom: 8px;
  }
  .excel_Export:hover {
    float: right;
    background-color: white;
    color: white;
    border-color: #262366;
    margin-bottom: 8px;
    color: #262366;
  }