<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card" style="width: 18rem;">
        <div class="card-body" style="text-align:left;">
          <h5 class="card-title">User Info</h5>
          <div class="card-text">
            <div class="form-group row">
              <label for="labelUserId" class="col-sm-2 col-form-label" style="font-weight: 700;">User Id </label>
              <label for="labelUserId" class="col-sm-8 col-form-label">{{userInfo.user_did}} </label>
            </div>
            <div class="form-group row">
              <label for="labelPeerid" class="col-sm-2 col-form-label" style="font-weight: 700;">Peer Id </label>
              <label for="labelPeerid" class="col-sm-8 col-form-label">{{userInfo.peerid}} </label>
            </div>
            <div class="form-group row">
              <label for="labelIpAddess" class="col-sm-2 col-form-label" style="font-weight: 700;">IP Address </label>
              <label for="labelIpAddess" class="col-sm-8 col-form-label">{{userInfo.ipaddress}} </label>
            </div>
            <div class="form-group row">
              <label for="labelBalance" class="col-sm-2 col-form-label" style="font-weight: 700;">Balance </label>
              <label for="labelBalance" class="col-sm-8 col-form-label">{{userInfo.balance}} </label>
            </div>
            <a href="#" class="btn btn-info" style="background-color: #00788C;"><span
                style="color: white;">Back</span></a>
          </div>
        </div>
      </div>

    </div>
  </div>