<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <form [formGroup]="searchform" (ngSubmit)="onSubmit()">
                                <div class="input-group">
                                    <input type="text" formControlName="inputId" class="form-control" id="colFormLabelSm" placeholder="Search for token hash" required>

                                    <button type="submit" class="btn btn-primary">Search</button>
                                </div>
                                <!-- <div *ngIf="f.inputId.touched && f.inputId.invalid" class="searchError">
                                                <div *ngIf="f.inputId.errors && f.inputId.errors.required">Please fill out this field.</div>
                                            </div> -->
                                <span class="searchError" *ngIf="showError">Invalid token hash</span>
                            </form>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <h2 class="card-header">Token transactions</h2>
                <div class="card-body">

                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div class=""></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div class=""></div>
                        </div>
                    </div>
                    <div class="table-responsive" *ngIf="!showNoContentBlock">
                        <table class="table table-striped">
                            <thead style="text-align: center;">
                                <tr>
                                    <th scope="col" style="padding-right:100px">Transaction Id</th>
                                    <th scope="col" style="padding-right:100px">From</th>
                                    <th scope="col" style="padding-right:100px">To</th>
                                    <th scope="col">Volume</th>
                                    <th scope="col">Dur(sec)</th>
                                    <th scope="col">Fee</th>
                                    <!-- <th scope="col" style="padding-right:100px">time(Sec)</th> -->
                                </tr>
                            </thead>
                            <tbody style="text-align: center;">
                                <tr *ngFor="
                  let item of transactionsList
                    | paginate
                      : {
                          id: 'token_grid',
                          itemsPerPage: transItemsPerPage,
                          currentPage: transpage,
                          totalItems: totalTransItems
                        }
                ">
                                    <td><span class="text-short">{{ item.transaction_id }}</span></td>
                                    <td><span class="text-short"> {{ item.sender_did }} </span></td>
                                    <td><span class="text-short">{{ item.receiver_did }} </span></td>
                                    <td><span class="text-short"> {{ item.amount }} </span></td>
                                    <td><span class="text-short"> {{ item.token_time }} </span></td>

                                    <td><span class="text-short"> {{ item.transaction_fee }} </span></td>
                                    <!-- <td><span class="text-short"> {{ item.time }} </span></td>  -->
                                </tr>
                            </tbody>
                        </table>
                        <div style="margin-top: 2%;">
                            <pagination-controls id='token_grid' class="pagi" (pageChange)="gtransListEvent((transpage = $event))">
                            </pagination-controls>
                        </div>

                    </div>
                    <div *ngIf="showNoContentBlock">
                        <h3>Content not found in the Rubix network</h3>
                    </div>
                    <a href="#" class="btn btn-info" style="background-color: #00788C;margin-top: 15px;"><span
                style="color: white;">Back to home</span></a>
                </div>
            </div>
        </div>
        <ngx-spinner size="medium" type="ball-spin" [fullScreen]="true">
            <p style="color: white"> Loading... </p>
        </ngx-spinner>
    </div>
</div>
<style>
    td {
        text-align: left;
    }
</style>