<div class="spinner" *ngIf="spinstatus">
    <img src="../assets/images/spin.gif" alt="spin" />
</div>


<section class="block-explorer-features section bg-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title text-center">Data Token Transaction Info</h2>
                </div>
            </div>

        </div>
        <div class="card cardShadow">
            <div class="row mb-2">
                <div class="row m-bottom-70">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card-body">
                            <div class="card-text">
                                <div class="form-group row customptag">
                                    <p><b>Transaction Id:</b> {{datatokenInfo.transaction_id}}</p>
                                    <p><b>Commiter:</b> {{datatokenInfo.commiter}}</p>
                                    <p><b>Volume:</b> {{datatokenInfo.volume}}</p>
                                    <p><b>Creation Time:</b> {{datatokenInfo.creationTime | date:'medium' }}</p>
                                </div>
                                <div class="form-group dictionaryList">
                                    <!-- <div class="row" *ngFor="let item of quorum_listInfoData">
                                        <div class="col-sm-7 dictionaryList">
                                            <b>PledgerDID: </b>{{item.quorumKey}} - 
                                        </div>
                                        <div class="col-sm-5 dictionaryList">
                                            <b>Amount: </b> {{item.quorumValue}}
                                        </div>
                                    </div> -->
                                    <div>
                                        <p *ngFor="let item of quorum_listInfoData"><b>PledgerDID: </b> {{pledgerDID}}  &nbsp;<strong>Token ID : </strong>{{item.quorumKey}}  - <Strong>Amount: </Strong> {{item.quorumValue}}</p>
                                    </div>
                                    <div>
                                        <p *ngFor="let item of datatokensInfoData"><b>CreatorDID:</b>{{item.dataTokenKey}} - <Strong>Token ID : </Strong> {{item.dataTokenValue}}</p>
                                    </div>         
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- <div class="row">
            <div class="col-lg-12 mt-3">
                <div class="center-heading">
                    <h2 class="section-title text-center">Related Transactions</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-latests">
                        <thead>
                            <tr>
                                <th scope="col" style="padding-right:100px">Transaction Details</th>
                                <th scope="col">Volume</th>
                                <th scope="col">Dur(sec)</th>
                                <th scope="col">Fee</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of transactionsList">
                                <td class="tokenhover">
                                    <span (click)="detailTransFunction(item.transaction_id)"
                                        class="text-short"><b>Id:</b>{{ item.transaction_id }}</span>
                                    <span (click)="userInfoFunction(item.sender_did)" class="text-short"><b>From:</b>{{
                                        item.sender_did }}</span>
                                    <span (click)="userInfoFunction(item.receiver_did)" class="text-short"><b>To:</b>{{
                                        item.receiver_did }} </span>

                                </td>
                                <td><span class="text-short"> {{ item.amount }} </span></td>
                                <td><span class="text-short"> {{ item.token_time }} </span></td>

                                <td><span class="text-short"> {{ item.transaction_fee }} </span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> -->
    </div>
</section>

