<div class="container-scroller">

  <!-- partial:partials/_navbar.html -->
  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
      <a class="navbar-brand brand-logo me-5" href="#"><img src="../assets/img/Rubix-Logo-black-300.png" class="me-2" alt="logo"/></a>
      <a class="navbar-brand brand-logo-mini" href="#"><img src="../assets/img/Rubix-Logo-black-300.png" alt="logo"/></a>
     
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="icon-menu"></span>
      </button>
     
      
    </div>
  </nav> 
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_settings-panel.html -->
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="row">
              <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <h3 class="font-weight-bold">Welcome to Rubix Explorer</h3>
              </div>
            
              <div class="col-12 col-xl-4">
               <div class="justify-content-end d-flex">
                <div class="selectWrapper">
                  <select class="selectBox" (change)="changeDuriation($event)">
                  <option value="1" selected>Today</option>
                  <option value="2">7 Days</option>
                  <option value="3">1 Month</option>
                  <option value="4">3 Months</option>
                  <option value="5">6 Months</option>
                  <option value="6">1 Year</option>
                  <option value="7">All</option>
                </select>
                </div>
               </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale">
                  <div class="card-body">
                    <p class="mb-4">RBX Price
                    </p>
                    <p class="fs-30 mb-2">Not available</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue">
                  <div class="card-body">
                    <p class="mb-4">Total Transactions</p>
                    <p class="fs-30 mb-2">{{transactionsCount}}</p>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale">
                  <div class="card-body">
                    <p class="mb-4">Total Tokens</p>
                    <p class="fs-30 mb-2">{{tokensCount}}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue">
                  <div class="card-body">
                    <p class="mb-4">Live Nodes</p>
                    <p class="fs-30 mb-2">{{rubixUsersCount}}</p>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <p class="card-title">Transactions</p>
               
                
            
                
                <div id="transactionChart" style="width:100%;"></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <p class="card-title">Tokens</p>
              
                <div id="tokenChart" style="width:100%;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021. Rubix Explorer</span>
        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->