<div class="container-scroller">

  <!-- partial:partials/_navbar.html -->
  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
      <a class="navbar-brand brand-logo me-5" href="#"><img src="https://rubixexplorer.com/assets/images/logo.png" class="me-2" alt="logo"/></a>
      <a class="navbar-brand brand-logo-mini" href="#"><img src="https://rubixexplorer.com/assets/images/logo.png" alt="logo"/></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="icon-menu"></span>
      </button>
      
    </div>
  </nav> 
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_settings-panel.html -->
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="row">
              <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <h3 class="font-weight-bold">Welcome to Rubix Explorer</h3>
                <h6 class="font-weight-normal mb-0">Transactions, tokens and token transactions info</h6>
              </div>
              <div class="col-12 col-xl-4">
               <div class="justify-content-end d-flex">
                <div class="selectWrapper">
                  <select class="selectBox">
                  <option value="1" selected>Today</option>
                  <option value="2"> Last 7 Days</option>
                  <option value="3">Last One Month</option>
                  <option value="4">Last Three Months</option>
                  <option value="5">Last Six Months</option>
                  <option value="5">Last One Year</option>
                  <option value="7">All</option>
                </select>
                </div>
               </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale">
                  <div class="card-body">
                    <p class="mb-4">RBX Price
                    </p>
                    <p class="fs-30 mb-2">Not available</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue">
                  <div class="card-body">
                    <p class="mb-4">Total Transactions</p>
                    <p class="fs-30 mb-2">61344</p>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale">
                  <div class="card-body">
                    <p class="mb-4">Total Tokens</p>
                    <p class="fs-30 mb-2">4006</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue">
                  <div class="card-body">
                    <p class="mb-4">Total Users</p>
                    <p class="fs-30 mb-2">61344</p>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <p class="card-title">Transactions</p>
                <p class="font-weight-500">The total number of sessions within the date range. It is the period time a user is actively engaged with your website, page or app, etc</p>
                <div class="d-flex flex-wrap mb-5">
                  <div class="me-5 mt-3">
                    <p class="text-muted">OverView</p>
                    <h3 class="text-primary fs-30 font-weight-medium">12.3k</h3>
                  </div>
                  <div class="me-5 mt-3">
                    <p class="text-muted">Percentage</p>
                    <h3 class="text-primary fs-30 font-weight-medium">12%</h3>
                  </div>
                 
                </div>
                <highcharts-chart [Highcharts] = "transCharthighcharts" [options] = "transchartOptions"></highcharts-chart>
              </div>
            </div>
          </div>
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <p class="card-title">Tokens</p>
                <p class="font-weight-500">The total number of sessions within the date range. It is the period time a user is actively engaged with your website, page or app, etc</p>
                <div class="d-flex flex-wrap mb-5">
                  <div class="me-5 mt-3">
                    <p class="text-muted">OverView</p>
                    <h3 class="text-primary fs-30 font-weight-medium">12.3k</h3>
                  </div>
                  <div class="me-5 mt-3">
                    <p class="text-muted">Percentage</p>
                    <h3 class="text-primary fs-30 font-weight-medium">14%</h3>
                  </div>
                </div>
                <highcharts-chart [Highcharts] = "tokensCharthighcharts" [options] = "tokenschartOptions"></highcharts-chart>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <p class="card-title">Users</p>
              
                <highcharts-chart [Highcharts] = "usersCharthighcharts" [options] = "userschartOptions"></highcharts-chart>

              </div>
            </div>
          </div>
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <p class="card-title">Tokens</p>
              

               
              </div>
            </div>
          </div>
        </div>



        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <p class="card-title">Transactions</p>
              


              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021. Rubix Explorer</span>
        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->